/* UA reset begins */
/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  */

html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

body {
  margin: 0;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* UA reset ends here */

/* my style begins here */
body {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/background-img.jpg");
  background-size: 100% 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.container > div {
  border: 2px solid red;
  height: 100%;
  flex: 1;
}

.container > .left-box {
  flex: 2;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
}

.weather {
  border: 2px solid greenyellow;
  font-weight: bold;
}

.weather.one {
  height: 100px;
  /* width: 500px; */
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp {
  font-size: 7rem;
}

.city {
  font-size: 2.5rem;
}

.icon {
  width: 90px;
  height: 100%;
  border: 2px solid yellow;
  padding: 0 2px;
}

.icon > div {
  height: 75%;
  width: 85%;
  border: 1.5px solid black;
  margin: 0 auto;
}

/* to center the span */
.icon > span {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather.two {
  height: 40px;
  width: 250px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather.two > span:first-child {
  margin-right: 10px;
  font-size: 1.3rem;
}

.weather.two > span:nth-child(2) {
  font-size: 1.7rem;
}

.weather.three {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
}

.weather.three span {
  font-size: 2.6rem;
}

.weather.three > span:first-child {
  margin-right: 2px;
}

.weather.three > span:nth-child(2) {
  margin-right: 2px;
}

.right-box {
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-box > div {
  width: 90%;
  border: 2px solid green;
}

.form-box {
  height: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
}

.result-box {
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.result {
  /* border: 2px solid orchid; */
  margin-bottom: 35px;
  /* height: 50px; */
}

.result span {
  background-color: red;
}

.result span:first-child {
  margin-right: 10px;
  width: 50px;
  background-color: cornflowerblue;
}

form {
  position: relative;
}

form > input[type="search"] {
  position: absolute;
  top: 28px;
  right: 100px;
  height: 30px;
  /* width: 300px; */
  width: clamp(220px, 17vw, 300px);
}

form > button {
  height: 60px;
  width: 60px;
  /* padding: 10px; */
  background-color: orange;
  background-image: url("../assets/serach-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* my style ends here */
