@font-face {
  font-family: merry-weather;
  src: url("../assets/Merriweather/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: merry-weather;
  src: url("../assets/Merriweather/Merriweather-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: merry-weather;
  src: url("../assets/Merriweather/Merriweather-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: merry-weather;
  src: url("../assets/Merriweather/Merriweather-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

/* UA reset begins */
/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  */

html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

body {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* UA reset ends here */

/* my style begins here */
body {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/background-img.jpg");
  background-size: 100% 100%;
  font-family: merry-weather, system-ui, -apple-system, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: whitesmoke;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.container > div {
  height: 100%;
  flex: 1;
}

.container > .left-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
}

.weather {
  font-weight: bold;
}

.weather.one {
  height: 100px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp {
  font-size: 7rem;
  margin-right: 30px;
}

.city {
  font-size: 2.5rem;
}

.icon {
  width: 90px;
  height: 100%;
  padding: 0 2px;
}

.icon > div {
  height: 75%;
  width: 85%;
  background-position: 50% 85%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* to center the span */
.icon > span {
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.13rem;
}

.weather.two {
  height: 40px;
  width: 250px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather.two > span:first-child {
  letter-spacing: 0.11rem;
  margin-right: 10px;
  font-size: 1.3rem;
}

.weather.two > span:nth-child(2) {
  font-size: 1.7rem;
}

.right-box {
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-box > div {
  width: 93%;
}

.form-box {
  height: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
}

.result-box {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding-right: 9%;
  font-size: 1.35rem;
}

.result {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

form {
  position: relative;
}

form > input[type="search"] {
  position: absolute;
  top: 28px;
  right: 100px;
  height: 30px;
  border-radius: 5px;
  width: clamp(220px, 17vw, 300px);
  font-size: 1rem;
  letter-spacing: 1px;
}

form > button {
  height: 60px;
  width: 60px;
  border-radius: 7px;
  background-color: #f5aa1ff7;
  background-image: url("../assets/serach-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.error-msg {
  height: 30px;
  border-radius: 6px;
  text-align: center;
  padding: 3px 5px;
  position: absolute;
  left: -250px;
  top: 60px;
  background-color: gainsboro;
  color: red;
}

/* my style ends here */
